.idea
__pycache__
.ipynb_checkpoints
.py[cod]
/build/
/dist/
/MANIFEST.in
*.swp
*.egg-info
.DS_Store
/OpenHowNet/HowNet_dict_complete
/OpenHowNet/sememe_sense_dic
/OpenHowNet/sememe_all
/OpenHowNet/sememe_triples_taxonomy.txt
/*.sh
